<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |resto| %>
    <li><%= resto.name %> <%= link_to "show", restaurant_path(resto) %></li>
  <% end %>
</ul>

<%= link_to "add restaurant", restaurants_new_path %>
